<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="input-group margin-bottom-20">
  	<span class="input-group-addon"><i class="fa fa-user"></i></span>
  	<%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Enter name" %>
  </div>
  
  <div class="input-group margin-bottom-20">
  	<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
  	<%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
  </div>
  
  <div class="input-group margin-bottom-20">
  	<span class="input-group-addon"><i class="fa fa-lock"></i></span>
  	<%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
  </div>
  
  <div class="input-group margin-bottom-30">
  	<span class="input-group-addon"><i class="fa fa-key"></i></span>
  	<%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password confirmation" %>
  </div>
  <hr>
  
  <div class="checkbox">
  	<label>
  		<input type="checkbox">
  		I read <a target="_blank" href="page_terms.html">Terms and Conditions</a>
  	</label>
  </div>
  
  <div class="row">
  	<div class="col-md-10 col-md-offset-1">
  		<%= f.submit "Register", class: "btn-u btn-block" %>
  		<%= render "devise/shared/links" %>
  	</div>
  </div>	
<% end %>




