
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="input-group margin-bottom-20">
		<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
		<%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter email" %>
	</div>
	<div class="input-group margin-bottom-20">
		<span class="input-group-addon"><i class="fa fa-lock"></i></span>
		<%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
	</div>
	<hr>

	<div class="checkbox">
		<label>
			<input type="checkbox">
			<p>Always stay signed in</p>
		</label>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<%= f.submit "Sign in", class: 'btn-u btn-block' %>
		  <%= render "devise/shared/links" %>
    </div>
    <% end %>
	</div>  

